<div
  class="form-container mat-elevation-z5 text-center"
  *ngIf="user$ | async as user"
>
  <h1>Kullanıcı Profili</h1>
  <div class="profile-image">
    <img
      width="120"
      height="120"
      [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" hidden (change)="uploadImage($event, user)" />
  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="firstName"
          placeholder="Ad"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Soyad"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="displayName"
          placeholder="Kullanıcı Adı"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="phone"
          placeholder="Telefon"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="address"
        placeholder="Adres"
      />
    </mat-form-field>

    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Kaydet
    </button>
  </form>
</div>
